.container {
    max-width: 350px;
    border: 1px solid black;
    display: flex;
}

.item  {
    background-color: blueviolet;
    margin: 5px;
    color: white;
    text-align: center;
}

.center {
    align-items: center;
}

.stretch {
    align-items: stretch;
}

.flex-start {
    align-items: flex-start;
}