.flex-container {
    display: flex;
    border: 1px solid black;
    max-width: 350px;
}

.items {
    margin: 5px;
    background-color: orangered;
    font-size: 24px;
    text-align: center;
}

.S-1 {
    flex-shrink: 1;
}

.s-0 {
    flex-shrink: 0;
    flex-basis: 100px;
}

.s-2 {
    flex-basis: 100px;
    flex-shrink: 2;
}

.s-3 {
    flex-basis: 100px;
    flex-shrink: 3;
}

.fg-1 {
    flex-grow: 1;
}