.flex-container {
    display: flex;
    border: 1px solid black;
    max-width: 350px;
}

.items {
    flex: 1;
    background: brown;
    text-align: center;
    font-size: 24px;
    margin: 5px;
}

.column {
    flex-direction: column;
}

.align-container {
    align-items: center;
}

.center {
    align-self: center;
}

.start {
    align-self: flex-start;
}

.end {
    align-self: flex-end;
}

.baseline {
    align-self: baseline;
}

.stretch {
    align-self: stretch;
}

.auto {
    align-self: auto;
}